.main {
height: 100vh;
}

.sidebar {
background: rgb(245, 234, 205);
color: black;

}

.sidebar a {
color: #000;
text-decoration: none;
display: block;
padding: 20px 10px;
}

.sidebar a:hover {
background: rgb(238, 205, 123);
}
.active{
background: rgb(238, 205, 123);
border-right: solid 8px orange;
}
.card-data{
border: solid 1px;
padding: 20px 50px;
color: #fff;
}
.card-data.book{
    background-color: teal;
}
.card-data.category{
    background-color: pink;
}
.card-data.user{
    background-color: orange;
}
.card-data i{
font-size: 80px;
}
.card-desc{
font-size: 30px;
}
.card-count{
font-size: 30px;
}